.weather-header{
    background: cornflowerblue;
    text-align: center;
    color: white;
    padding: 10px;
}

.weather-search-toolbar{
    padding-left: 5px;
}
.weather-data {
    padding-left: 5px;
}